
.hide{
    display: hide;
}

/* header */
 .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 150px;
            margin-right:150px;
            width: 1140px;
            height: 71px;
        }
        .logo img{
            width: 135px;
            width: 82px;
        }
        .nav{
            display: flex;
        }
        .nav ul{
            list-style: none;
            display: flex;
        }
        .nav li{
            padding: 30px;
        }
        .nav li a{
            text-decoration: none;
            align-items: center;
            color: #000000;

        }
        .nav li img{
            background-color: none;
            width: 24px;
            height: 24px;
        }
 /* header */
        
  @media screen and (max-width:576px){
            .hide{
            display: none;
                 }
            .container{
                align-items: center;
                justify-content: space-between;
                width: 361px;
                height: 38px;
                margin: 0;
                padding: 0;
            }
            .logo img{
                width: 63px;
                height: 38px;
            }
            .nav li{
                margin: 0;
                padding: 0;
        }
    }


    
  /* banner */

        .container-banner{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 150px;
            margin-right: 150px;
            margin-top: 30px;
        }

        .banner-text{
            text-align:start;
            width: 50%;
            height: 300px;
            margin: 0;
        }
        .banner-text h2 span{
            color: coral;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
        .banner-text p{
            margin: 0;
            padding: 0;
        }
        .banner-img{
            width: 570px;
            height: 355px;
        }

        /* banner  responsive*/
        @media screen and (max-width:576px) {

            .container-banner{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: 
                "banner-img "
                "banner-text ";
            }

            .banner-img{
                grid-area: banner-img;
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .banner-text{
                grid-area:banner-text ;
                width: 100%;
            }
        }

              /* main */
  
 /* card */
                 
.container-plants{
    text-align: center;
    justify-content: center;
}

.container-plants h3{
    margin: 0px;
    font-size: 2rem;
    text-align: center;
}

.container-plants h3 span{
    color: #E95A08;
}
.container-plants p{
    text-align: center;
    font-size: 1rem;
    color: #000000;
}



.container-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.container-card img{
    height:270px ;
    width: 270px;
}
.cad {
    width: 270px;
    height: auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;

}
.cad h4 ,h3{
    margin: 10px 0px;
}

.cad h3{
    font-size: bold;
    margin-top: 15px;

}
.btn-primary{
    padding: 09px;
    font-size: 1rem;
    background-color:#E95A08;
    width:270px;
    height: 50px;
    border: none;
    color: #F5F8FF;
    font-size: 1rem;
    margin-top: 30px;
}
/* cad responsive */
@media screen and (max-width:576px) {
    .container-card{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 20px;
        gap:20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

    /* main  responsive */

@media screen and (max-width:576px) {

    .container-plants{
    text-align: center;
    justify-content: center;
    }
    
} 


/* boom */
.boom{
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    margin-bottom: -72px;
}
.boom img{
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 500px;
    width: 286px;
    height: 286px;
}
/* boom responsive */

@media screen and (max-width:576px) {
    .boom{
        display: none;
    }
    }

/* flower store */

.container-flower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 50px;
    width:1140px;
    height:597px;
    margin-left: 100px;
    margin-right:200px;
    margin-top:150px;
    margin-bottom: 90px;
    
}
.flower-store{
    width:540px;
    height:590px;
    grid-area:flower-store ;

}
.text-box {
    width:540px;
    height:521px;
    grid-area: text-box;
    }
 .text-box h1 {
      font-size: 28px;
      margin-bottom: 20px;
      font-weight: bold;
    }

.text-box ul {
      list-style-type: disc;
      padding-left: 20px;
    }
.text-box li {
    max-width: 500px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #000000;
    }

/* flower store responsive */

   @media screen and (max-width: 576px){
  .container-flower {
    display: grid;
    grid-template-areas: 
    "flower-store"
    "text-box";
    padding: 20px;
    margin: 0;
  }

  .flower-store , .text-box {
    width: 100%;
    height: auto;
  }

  .text-box h1 {
    font-size: 24px;
    text-align: center;
  }

  .text-box li {
    font-size: 1rem;
    line-height: 1.5;
  }
}


/* deals */
    
.container-deals{
    text-align: center;
    justify-content: center;
}
.deals-text{
    text-align: center;
}
.container-deals h3{
    font-size: 2rem;
    text-align: center;
}

.container-deals h3 span{
    color: #E95A08;
}
.container-deals p{
    text-align: center;
    font-size: 1rem;
    color: #000000;
}

@media screen and (max-width:576px) {
    .container-deals{
        display: grid;
        grid-template-columns: 1;
    }
    
}

        /* bunch */
        .container-box{
            display: flex;
            gap: 10px;
            grid-area: container-plant;
        }
        .box{
            background-color: cadetblue;
            display: flex;
            gap: 5px;
            grid-area: box;
        }
        .box3{
            background-image: url("image/deal-ana.png");
            width: 376px;
            height: 201px;
            border-radius: 10px;
            grid-area: box3;

        }
        .box2{
            background-image: url("image/deal-bloom.png");
            width: 376px;
            height: 201px;
            border-radius: 10px;
            grid-area: box2;
        }
         .box1{
            background-image:url("image/deal-zabo.png");
            grid-row:span 3;
            width: 576px;
            height:401px;
            border-radius: 10px;
            grid-area: box1;
         }
        .box1{
            grid-row: span 2;
        }
        .box2 {
            display: grid;
            padding: 0%;
            margin:0;
        }
         .container .box1 ul{
        display: grid;
        text-align: center;
        justify-self: center;
        margin-top: 90px;
        }
        .box1 ,.box2 , .box3 , li{
        list-style: none;
        color: hwb(60 99% 0% / 0.979);
        font:bolder;
        }
       .box1, .box2 , .box3 , li a{
        text-decoration: none;
        color: #fffefe;
        text-align: center;
        }           



@media screen and (max-width: 576px) {
  .container-Bunch {
    justify-content: center;
    align-items: center;
    
  }

 
.Subscribe{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 221px;
    height: 200px;
  }

  .h2 {
    display: flex;
    font-weight: bold;
    margin-bottom: 20px;
    width: 390px;
    height: 100px;
  }
  .input {
    width: 218px;
    height: 60px;
    margin: 0;
    padding: 0;
  }

  .btn-primary {
    width: 2180px;
    height: 50px;
    margin: 0;
    padding: 0;
  } 
}  

