
.hide{
    display: hide;
}

/* header */
 .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 150px;
            margin-right:150px;
            width: 1140px;
            height: 71px;
        }
        .logo img{
            width: 135px;
            width: 82px;
        }
        .nav{
            display: flex;
        }
        .nav ul{
            list-style: none;
            display: flex;
        }
        .nav li{
            padding: 30px;
        }
        .nav li a{
            text-decoration: none;
            align-items: center;
            color: #000000;

        }
        .nav li img{
            background-color: none;
            width: 24px;
            height: 24px;
        }
 /* header */
        
  @media screen and (max-width:576px){
            .hide{
            display: none;
                 }
            .container{
                align-items: center;
                justify-content: space-between;
                width: 361px;
                height: 38px;
                margin: 0;
                padding: 0;
            }
            .logo img{
                width: 63px;
                height: 38px;
            }
            .nav li{
                margin: 0;
                padding: 0;
        }
    }


    
  /* banner */

        .container-banner{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 150px;
            margin-right: 150px;
            margin-top: 30px;
        }

        .banner-text{
            text-align:start;
            width: 50%;
            height: 300px;
            margin: 0;
        }
        .banner-text h2 span{
            color: coral;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
        .banner-text p{
            margin: 0;
            padding: 0;
        }
        .banner-img{
            width: 570px;
            height: 355px;
        }

        /* banner  responsive*/
        @media screen and (max-width:576px) {

            .container-banner{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: 
                "banner-img "
                "banner-text ";
            }

            .banner-img{
                grid-area: banner-img;
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .banner-text{
                grid-area:banner-text ;
                width: 100%;
            }
        }

